* {
  box-sizing: border-box;
}


/* Style the body */
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* En tete, logo et titre */
.header {
  padding: 15px;
  text-align: center;
  color: #333;
  background-image : url("Champ.jpg");
  background-color : #FFE6E6;
  background-attachment : fixed;
  background-position : center top;
  background-size: 20%; 
}

.header h1 {
  font-size: 45px;
}

#Love{
	color: #E6362E;
}

#logo{
	top: 30%;
	left:50%;	
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/


/* Style barre de navigation */
.navbar {
  overflow: hidden;
  background-color: #FFA8A8;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border: solid 1px #E6362E;
}

.navbar a.right {
  float: right;
}

#BoutonRemark{
	background-color: #E6362E;
}


.navbar a:hover {
  //background-color: #ddd;
  background-color: #FFA8A8;
  color: black;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* zone de déconnexion */
#Deconnecte{
	color: #E6362E;
}

#A{
	font-size: 20px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* Pied de page */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #E6362E;
   color: white;
   text-align: center;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
